In [3]:
import pandas as pd
import matplotlib as mpl
from datetime import datetime
import plotly.plotly as py
import plotly.graph_objs as go

dow = pd.read_csv("data_gathering/data/DJI.csv")
btc = pd.read_csv("data_gathering/data/bitcoin.csv")

In [3]:
dow.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,5/1/2013,14839.79981,14839.79981,14687.04981,14700.95020,14700.95020,112620000
1,5/2/2013,14700.95020,14834.62988,14700.95020,14831.58008,14831.58008,91180000
2,5/3/2013,14831.58008,15009.58984,14831.58008,14973.95996,14973.95996,119890000
3,5/6/2013,14973.95996,14988.87012,14941.08984,14968.88965,14968.88965,116160000
4,5/7/2013,14968.88965,15056.66992,14968.88965,15056.20020,15056.20020,117230000

In [4]:
btc.head()

,Unnamed: 0,Date,Open,High,Low,Close,Volume,Market Cap
0,0,2018-02-09,8271.84,8736.98,7884.71,8736.98,6784820000,139412000000
1,1,2018-02-08,7637.86,8558.77,7637.86,8265.59,9346750000,128714000000
2,2,2018-02-07,7755.49,8509.11,7236.79,7621.30,9169280000,130683000000
3,3,2018-02-06,7051.75,7850.70,6048.26,7754.00,13999800000,118810000000
4,4,2018-02-05,8270.54,8364.84,6756.68,6955.27,9285290000,139325000000

In [5]:
# the dates are in different formats
# want bitcoin data to be in ascended order by date
btc_rev = btc.reindex(index=btc.index[::-1])
btc_rev.head()

,Unnamed: 0,Date,Open,High,Low,Close,Volume,Market Cap
1748,1748,2013-04-28,135.30,135.98,132.10,134.21,0,1500520000
1747,1747,2013-04-29,134.44,147.49,134.00,144.54,0,1491160000
1746,1746,2013-04-30,144.00,146.93,134.05,139.00,0,1597780000
1745,1745,2013-05-01,139.00,139.89,107.72,116.99,0,1542820000
1744,1744,2013-05-02,116.38,125.60,92.28,105.21,0,1292190000

In [10]:
# time series analysis of bitcoin trading volume
date = btc_rev['Date'].apply(datetime.strptime, '%Y-%m-%d')
print(date)

TypeError: strptime() takes exactly 2 arguments (1 given)

In [7]:
type(btc_rev['Date'])

pandas.core.series.Series

In [8]:
type(btc_rev)

pandas.core.frame.DataFrame